
//-------------------------------------------
//	Colors
//-------------------------------------------


// Grayscale


$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


// Branding


$gray: rgb(149, 149, 149);
$green: rgb(140, 208, 198);
$dark-green: rgb(132, 196, 186);


// Social


// $facebook:
// $twitter:
// $instagram: